html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-text-color{
    color:darkred;
}

.navbar-brand{

    font-size:35px;
    font-weight:bold;
    color:blue;
}