@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="home-text-color">Student Information Managing System</h2>
    <img class="background" src="~/lib/bootstrap/dist/css/Image1.jpg" height="40%" width="40%">

</div>
